<form [formGroup]="additionalInfoFormGroup">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Registered Company Name</mat-label>
                <input matInput formControlName="registeredCompanyName">
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('registeredCompanyName').errors && additionalInfoFormGroup.get('registeredCompanyName').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Trading Name/DBA</mat-label>
                <input matInput formControlName="tradingName">
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('tradingName').errors && additionalInfoFormGroup.get('tradingName').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Main Business Activity</mat-label>
                <mat-select formControlName="mainBusinessActivity">
                    <mat-option *ngFor="let type of types" [value]="type.name">
                        {{type.name}}
                    </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('mainBusinessActivity').errors && additionalInfoFormGroup.get('mainBusinessActivity').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Secondary Business Activity</mat-label>
                <input matInput formControlName="secondaryBusinessActivity">
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('secondaryBusinessActivity').errors && additionalInfoFormGroup.get('secondaryBusinessActivity').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Company Registered Number</mat-label>
                <input matInput formControlName="companyRegisteredNumber">
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('companyRegisteredNumber').errors && additionalInfoFormGroup.get('companyRegisteredNumber').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Company Type</mat-label>
                <input matInput formControlName="companyType">
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('companyType').errors && additionalInfoFormGroup.get('companyType').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>EIN/SOCIAL SECURITY NUMBER</mat-label>
                <input matInput type="text" formControlName="einNumber">
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('companyRegisteredNumber').errors && additionalInfoFormGroup.get('companyRegisteredNumber').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>MCC</mat-label>
                <input matInput type="number" formControlName="MCC">
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('companyRegisteredNumber').errors && additionalInfoFormGroup.get('companyRegisteredNumber').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Years in Business</mat-label>
                <input matInput type="number" formControlName="yearsInBusiness">
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('yearsInBusiness').errors && additionalInfoFormGroup.get('yearsInBusiness').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Website URL</mat-label>
                <input type="url" matInput formControlName="websiteUrl">
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('websiteUrl').errors && additionalInfoFormGroup.get('websiteUrl').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Registered Business Address</mat-label>
                <input matInput formControlName="registeredBusinessAddress">
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('registeredBusinessAddress').errors && additionalInfoFormGroup.get('registeredBusinessAddress').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Zipcode</mat-label>
                <input matInput formControlName="businessAddressZipcode">
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('businessAddressZipcode').errors && additionalInfoFormGroup.get('businessAddressZipcode').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Trading Address</mat-label>
                <input matInput formControlName="registeredTradingAddress">
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('registeredTradingAddress').errors && additionalInfoFormGroup.get('registeredTradingAddress').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Zipcode</mat-label>
                <input matInput formControlName="tradingAddressZipcode">
                <!-- <mat-error *ngIf="additionalInfoFormGroup.get('tradingAddressZipcode').errors && additionalInfoFormGroup.get('tradingAddressZipcode').errors.required">
                    Required
                </mat-error> -->
            </mat-form-field>
        </div>
    </div>

    <p class="question">Company incorporation documents</p>

    <div class="row">
        <div class="col-md-12">
            <div *ngFor="let companyDocs of companyDocs">
                <div class="d-flex w-100 align-items-center mt-2">
                    <mat-chip-list aria-label="Fish selection" class="mw-75">
                        <mat-chip [removable]="true" (removed)="removeCompanyDocs(companyDocs.key)">
                            <span class="d-inline-block text-truncate">{{companyDocs.fileName}}</span>
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                    <button mat-mini-fab color="primary" class="ml-4" (click)="download(companyDocs.key)"
                        matTooltip="Download" [disabled]="(downloadPending$ | async) || (uploadPending$ | async)">
                        <mat-icon>cloud_download</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" *ngFor="let file of files">
            <div class="d-flex w-100 align-items-center mt-2">
                <mat-chip-list class="mw-75">
                    <mat-chip [removable]="true" (removed)="removeFile(file)">
                        <span class="d-inline-block text-truncate">{{file.name}}</span>
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>

                <!-- <button mat-mini-fab color="primary" class="mx-4" matTooltip="Upload"
                    [disabled]="!file || (uploadPending$ | async) || (updatePending$ | async)" (click)="save(file)"> 
                    <mat-icon>cloud_upload</mat-icon>
                </button>-->
            </div>
        </div>
    </div>

    <div class="input-file-wrapper mt-4">
        <input type="file" class="file-input" accept=".pdf, .png, .jpeg" (change)="onFileChange($event)" #fileInput>
        <button mat-stroked-button color="primary" (click)="importFile()" type="button">
            Import file
        </button>
    </div>

    <div class="d-flex w-100 justify-content-between align-items-center mt-3">
        <p class="text-red m-0">{{status === 'rejected' && (user$ | async).role === 'Merchant' ?
            'This section is rejected by admin. Please update the information again.' : ''}}</p>
        <button mat-raised-button color="primary" class="submit-button" type="submit"
            [disabled]="(updatePending$ | async) || (uploadPending$ | async)" (click)="submit()">
            {{ submitted ? 'Update' : 'Submit' }}
        </button>
    </div>
</form>

<div *ngIf="((user$ | async).role === 'Admin' || (user$ | async).role === 'SuperAdmin')
            && (merchantDetail$ | async)?.additionalInfoStatus !== 'approved'
            && (merchantDetail$ | async)?.additionalInfoStatus !== 'rejected'" class="d-flex align-items-center my-4">
    <span class="mr-4">
        Do you agree with this information?
    </span>
    <button mat-stroked-button color="primary" class="mr-3" (click)="approveSection()">Approve</button>
    <button mat-stroked-button color="accent" (click)="rejectSection()">Reject</button>
</div>


<div class="hr-sect mt-3">Last Comments</div>

<div class="my-3" *ngIf="comments.length === 0">
    <p class="text-danger">No comments</p>
</div>

<div class="comment-list my-3" *ngIf="comments.length > 0">
    <div *ngFor="let comment of (comments | lastComments)" class="comment-item">
        <p class="mb-1">{{ comment.content }}</p>
        <div class="d-flex w-100 align-items-center justify-content-end">
            <span class="mr-3 comment-info">{{ comment.userEmail }}</span>
            <span class="comment-info">{{ comment.createdAt }}</span>
        </div>
    </div>
</div>
<div class="d-flex w-100 justify-content-end">
    <button mat-raised-button color="primary" (click)="openDialog()">
        Add comment
    </button>
</div>