mat-card-title {
    display:flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 300;
    color: #8f8f8f;
}

.total-container{
    margin-top: 32px;
    width: 100%;
    text-align: center;
    .total{
        font-size: 40px;
        font-weight: 300;
        span{
            font-size: 16px;
            font-weight: 100;
        }
    }
}


.currency-name {
    margin: 0px;
    padding: 10px;
    font-weight: 300;
    font-size: 24px;
}

.currency-balance {
    margin: 0px;
    padding: 10px;
    font-weight: 300;
    font-size: 24px;
}

.portfolio-balance-value {
    margin-top: 60px;
    font-size: 40px;
    font-weight: 300;
    float: left;
    margin-left: -10%;
}

.col {
    margin-bottom: -5%;
}

.mat-flat-button.mat-primary {
    font-weight: 300;
}

.mat-list-item {
    height: 75px !important;
}

.round-icon {
    border: 1px solid #dcd4c0;
    padding: 5px !important;
    color: #8f8f8f;
    background: #dcd4c0;
}

.mat-divider--full-width {
    margin: 0 -24px !important;
    width: calc(100% + 48px) !important;
}

.toggle-group {
    float: left;
    margin-bottom: 20%;
}

@media (max-width: 997px) {
    .portfolio-balance-value {
        font-size: 30px;
        font-weight: 300;
        float: left;
        margin-left: -10%;
    }

    .mat-divider--full-width {
        margin: 0 -16px !important;
        width: calc(100% + 32px) !important;
    }

    .mat-list .mat-list-item .mat-line:nth-child(n+2), .mat-nav-list .mat-list-item .mat-line:nth-child(n+2), .mat-selection-list .mat-list-item .mat-line:nth-child(n+2) {
        font-size: 10px;
    }

    .currency-balance {
        margin: 0px;
        padding: 10px;
        font-weight: 300;
        font-size: 16px;
    }
}

.list-balance {
    margin-top: 30px;
    list-style: none;
    border-radius: 5px;
    padding: 0 16px;
}

.list-balance-item {
    display: flex;
    width: 100%;
    border: 0.8px solid #CCBC9E;    
}

.list-balance-item-title {
    background-color: #dee1e6;
    color: white;
    padding: 10px;
    font-size: 0.8em;
    flex-basis: 50%;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-balance-item-value {
    padding: 10px;
    font-size: 1.1em;
    flex-grow: 1;
    text-align: center;
    align-self: center;
}