.mat-expansion-panel-header-description {
  justify-content: flex-end;
  margin-right: 40px;
}

.success-icon {
  color: #047804;
}

.label {
  color: #9a722c;
}

.approved-text {
  color: #047804;
}

.status-text {
  text-transform: capitalize;
}


.key-value {
  word-break: break-all;
}

.key-button {
  outline: none;
}

.merchant-detail-container {
  padding: 0 24px;
}
