.main-product-descriptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 0.5rem;
  align-items: center;

  &__item {
    .remove-btn {

    }

    button {
      outline: none;
    }

    ::ng-deep mat-form-field {
      .mat-form-field-wrapper {
        padding: 0;
      }
    }
  }

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 16px;
  margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 2px;
  font-size: 0px;
  line-height: 0px;
}

.hr-sect::before {
  margin-right: 16px;
}

.hr-sect::after {
  margin-left: 16px;
}
