<div class="pay-txn">
  <h3 *ngIf="onPage != 'Merchant'" class="text-gray font-weight-bold mb-3">{{title}}</h3>
  <mat-card class="py-3 px-4 mb-3">
    <ng-container *ngIf="onPage == 'Merchant'">
        <mat-card-title>
            <div>{{title}}</div>
            <button mat-raised-button color="primary" [routerLink]="['/ptorders']"
                mat-button>View All</button>
        </mat-card-title>
        <mat-divider></mat-divider>
    </ng-container>
      <mat-list>
        <ng-container *ngFor="let txn of currentPageData">
          <mat-list-item *ngIf="txn.txnType == 'Payrix'">
                <p mat-line> {{txn.customer}} </p>
                <p mat-line> {{txn.createdAt | date:'medium':'GMT'}}</p>
                <span class="amount-send" >{{(txn.transactionAmount) | currency:'USD':'symbol'}}</span>
                <button
                    class="detail-button" color="primary" mat-raised-button mat-button 
                    [routerLink]="['/ptorders']">Details</button>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item *ngIf="txn.txnType == 'Poynt'">
                <p mat-line> {{txn.contactName}} </p>
                <p mat-line> {{txn.updatedAt | date:'medium':'GMT'}}</p>
                <span class="amount-send" >{{(txn.transactionAmount)/100 | currency:'USD':'symbol'}}</span>

                <button
                    class="detail-button"
                    color="primary"
                    mat-raised-button
                    mat-button
                    [routerLink]="['/admin/full-transaction-history', txn.publicKey]">Details</button>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item *ngIf="txn.txnType == 'Lunex'">
                <p mat-line> {{txn.productName}} </p>
                <p mat-line> {{txn.Time | date:'medium':'GMT'}}</p>
                <span class="amount-send" >{{(txn.Amount) | currency:'USD':'symbol'}}</span>

                <button
                    class="detail-button"
                    color="primary"
                    mat-raised-button
                    mat-button
                    [routerLink]="['/transaction', txn.publicKey]">Details</button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </ng-container>
      </mat-list>    
      <mat-paginator
          [length]=paginations.total
          [pageSize]=paginations.pageSize
          [pageSizeOptions]="[5,10,15,20]"
          (page)="onPageChange($event)"
      >
      </mat-paginator>
  </mat-card>

</div>