mat-card{
    max-width: 600px;
    min-width: 480px;
}

mat-card-header{
    .header-image {
        //background-image: url('/assets/img/e2_logo.png');
        background-size: cover;
    }
    mat-card-title{
        font-size: 28px;
        color: #8f8f8f;
    }
}

.form-group{
    margin: 0;
    mat-form-field{
        flex-grow: 1;
    }
    .title-form-field{
        max-width: 25%;
    }
}

.reg-error{
    margin-top: 0.25rem;
}

mat-card-footer{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
