<span class="mdc-list--avatar-list"><i class="material-icons mdc-list-item__graphic" aria-hidden="true">credit_card</i></span>

<span class="mdc-list-item__text">
 <span class="mdc-list-item__primary-text">Payment Method</span>
 <span class="mdc-list-item__secondary-text">VISA 9953</span>
</span>

<hr class="between">

<span class="mdc-list--avatar-list"><i class="material-icons mdc-list-item__graphic" aria-hidden="true">account_balance_wallet</i></span>

<span class="mdc-list-item__text">
 <span class="mdc-list-item__primary-text">Deposit to</span>
 <span class="mdc-list-item__secondary-text">WalletsGreen USD</span>
</span>