<div class="splash">
    <div class="flex">

        <mat-card>
            <div class="text-center">
              <img class="logo" src="\assets\img\walletsGreen_logo.png">
              <p class="login-label">What type of account would you like to open?</p>
            </div>

            <div class="flex button-flex" >
                <button type="button" color="primary" mat-raised-button [routerLink]="['/merchant-signup']">
                    MERCHANT ACCOUNT
                </button>
            </div>

            <ul>
                <li>
                    If you wish to sign up for an WalletsGreen account and begin using WalletsGreen select the <b>CUSTOMER ACCOUNT</b>
                    button.
                </li>
                <br>
                <li>
                    If you wish to register your organisation to begin using the WalletsGreen platform for payments and account
                    management select the <b>MERCHANT ACCOUNT</b> button.
                </li>
            </ul>


        </mat-card>

    </div>
</div>
