::ng-deep {
    .merchants-table {
      width: 100%;
  
      tbody {
        tr {
          outline: none;
  
          &:hover {
            cursor: pointer;
            background: #f9f9f9;
          }
        }
      }
    }
  
    .merchant-filter {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }
  