<div class="flex">

    <mat-card>
        <mat-card-content>
            <div class="flex content">
                <div class="label">Transaction Complete</div>
                <button mat-stroked-button color="primary" [routerLink]="['/full-transaction-history', accountId]">View Transaction Details</button>
                <button mat-stroked-button color="primary" [routerLink]="['/dashboard']">Back to Dashboard</button>
            </div>
        </mat-card-content>

    </mat-card>

</div>
