@import "src/styles/_variables.scss";

.documents-container {
    position: relative;
}

.expansion{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 14px;
    margin-left: 0px;
}

.small-expansion{
    // margin-top: 10%;
    // margin-bottom: 10%;
    font-size: 12px;
    margin-left: 0px;
}

.mat-card{
    margin-bottom: 10%;
}

.panel{
    box-shadow: none;
}

.question{
    font-size: 20px;
    margin-top: 10px;
    color: $primary;
}

#docsError{
    color: red;
}

.small-margin{
    margin-bottom: 30%
}

.input-file-wrapper {
    position: relative;

    .file-input {
        position: absolute;
        opacity: 0;
        width: 0;
    }
}


.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 16px;
    margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 2px;
    font-size: 0px;
    line-height: 0px;
}

.hr-sect::before {
    margin-right: 16px;
}

.hr-sect::after {
    margin-left: 16px;
}
